* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
}
section {
  padding: 0 5%;
}
.hero {
  background: linear-gradient(216.04deg, #27c0ef 13.84%, #00a8db 83.53%);
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  padding-top: 30px;
}
.left-navbar img {
  width: 153px;
}
.center-navbar {
  margin-left: 270px;
  display: flex;
  padding-right: 10px;
  justify-content: space-between;
}
.center-navbar a {
  color: white;
  margin: 0 30px;
  font-size: 15px;
  text-decoration: none;
}
.right-navbar a {
  background: linear-gradient(278.21deg, #005490 1.66%, #328bcb 96.78%);
  border-radius: 4px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  padding: 15px 20px;
  color: white;
  margin-bottom: 10px;
}
.hero-content {
  color: white;
  width: 100%;
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1rem;
  position: relative;
}
.hero-left {
  display: block;
  width: 100%;
}
.hero-left h1 {
  font-family: DM Sans;
  font-size: 64px;
  font-weight: 700;
  line-height: 76px;
  text-align: left;
}
.hero-left img {
  width: 160px;
  margin: -20px 0 20px 0;
  margin-top: 3px;
}
.hero-left p {
  padding-top: 10px;
  font-size: 15px;
}
.hero-link {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.left-link a {
  background: white;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  padding: 15px 30px;
  color: rgba(0, 168, 219, 1);
}
.right-link {
  padding: 60px;
  display: flex;
  align-items: center;
}
.right-link a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
.right-link img {
  margin: 2px 0 0 5px;
  width: 15px;
}
.hero-right {
  width: 100%;
}
.hero-right img {
  width: 100%;
  object-fit: cover;
}
.mid-content {
  background: rgba(255, 255, 255, 1);
  display: inline-block;
  width: 100%;
}
.container-one {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
}
.container-one img {
  width: 160px;
  padding: 0 25px;
}
.container-two {
  padding: 7% 0 3% 0;
  display: flex;
  justify-content: space-between;
}
.container-two-left {
  position: relative;
  flex-basis: 50%;
}
.background-img {
  width: 100%;
}
.foreground-img {
  width: 100%;
  position: absolute;
  right: 0px;
  top: -20px;
}
.container-two-right {
  padding-top: 30px;
  flex-basis: 47%;
}
.container-two-right h2 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.3px;
  line-height: 52px;
  color: rgba(3, 77, 130, 1);
  padding-bottom: 20px;
  font-family: DM Sans;
}
.container-two-right p {
  color: rgba(144, 163, 180, 1);
  line-height: 32px;
  font-size: 16px;
  font-weight: 500;
}
.container-two-right-link {
  display: flex;
  align-items: flex-start;
  padding-top: 20px;
}
.container-two-right-link a {
  color: rgba(4, 170, 221, 1);
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  text-decoration: none;
}
.container-two-right-link img {
  padding: 4px 0 0 5px;
  width: 20px;
}
.container-three {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}
.container-three-left {
  align-self: center;
  justify-self: center;
}
.container-three-left h2 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.3px;
  line-height: 52px;
  color: rgba(3, 77, 130, 1);
  padding-bottom: 20px;
  font-family: DM Sans;
}
.container-three-left p {
  color: rgba(144, 163, 180, 1);
  line-height: 32px;
  font-size: 16px;
  font-weight: 500;
}
.container-three-left-list {
  padding-top: 10px;
}
.container-three-left-list ul {
  padding: 0;
}
.container-three-left-list ul li {
  list-style: none;
  gap: 5px;
  display: flex;
  align-items: center;
}
.container-three-left-list ul li span {
  color: rgba(144, 163, 180, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.3px;
}
.container-three-left-link {
  display: flex;
  align-items: flex-start;
  padding-top: 20px;
}
.container-three-left-link a {
  color: rgba(4, 170, 221, 1);
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-decoration: none;
}
.container-three-left-link img {
  padding: 4px 0 0 5px;
  width: 20px;
}
.container-three-right img {
  width: 100%;
}
.feature {
  padding-top: 5%;
  padding-bottom: 10%;
  background: rgba(239, 251, 255, 1);
  width: 100%;
}
.feature-content {
  text-align: center;
}
.feature-content h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.3px;
  color: rgba(3, 77, 130, 1);
  padding-bottom: 10px;
  font-family: DM Sans;
}
.feature-content p {
  color: rgba(142, 169, 193, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.30000001192092896px;
}
.feature-point {
  padding-top: 7%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.feature-point div {
  padding: 28px 11px 20px 22px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
}
.feature-point div h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.20000000298023224px;
  color: rgba(3, 77, 130, 1);
  padding-top: 25px;
}
.feature-point div p {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.30000001192092896px;
  text-align: left;
  color: rgba(142, 169, 193, 1);
  padding-top: 9px;
}
.footer {
  background-color: rgba(27, 185, 233, 1);
  width: 100%;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-left img {
  width: 153px;
}
.footer-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-right a {
  color: white;
  margin: 0 30px;
  font-size: 15px;
  text-decoration: none;
}
.copyright {
  background-color: black;
  width: 100%;
}
.copyright-content {
  padding: 10px 0;
}
.copyright p {
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}
.copyright p b {
  font-weight: 700;
}

.global-container {
  width: 100%;
  margin: 0 auto;
}
/* media queries  */
@media screen and (min-width: 1440px) {
  .global-container {
    max-width: 1440px;
  }
}
@media (max-width: 1300px) {
  .center-navbar {
    margin-left: 200px;
  }
  .center-navbar a {
    font-size: 14px;
    margin: 0 17px;
  }
}
@media (max-width: 1150px) {
  .navbar {
    padding-top: 10px;
  }
  .left-navbar img {
    width: 130px;
  }
  .center-navbar {
    margin-left: 200px;
  }
  .center-navbar a {
    font-size: 13px;
    margin: 0 15px;
  }
  .right-navbar a {
    border-radius: 4px;
    font-size: 13px;
    padding: 12px 16px;
    margin-bottom: 10px;
  }
  .hero-left h1 {
    font-size: 45px;
    font-weight: 500;
    line-height: 50px;
  }
  .hero-left img {
    width: 115px;
    margin-top: 5px;
  }
  .hero-left p {
    padding-top: 7px;
    font-size: 13px;
  }
  .hero-link {
    padding-top: 7px;
  }
  .left-link a {
    font-size: 13px;
    padding: 14px 25px;
  }
  .right-link {
    padding: 40px;
  }
  .right-link a {
    font-size: 13px;
  }
  .right-link img {
    margin: 2px 0 0 5px;
    width: 13px;
  }
  .container-one img {
    width: 125px;
    padding: 0 20px;
  }
  .container-one {
    padding: 45px 0;
  }
  .container-two {
    padding: 5% 0 2% 0;
  }
  .background-img {
    width: 70%;
  }
  .foreground-img {
    width: 80%;
    right: 50px;
    top: -20px;
  }
  .container-two-right {
    padding-top: 10px;
  }
  .container-two-right h2 {
    font-size: 28px;
    font-weight: 550;
    letter-spacing: 0.1px;
    line-height: 40px;
  }
  .container-two-right p {
    line-height: 16px;
    font-size: 14px;
    font-weight: 100;
  }
  .container-two-right-link {
    padding-top: 20px;
  }
  .container-two-right-link a {
    font-size: 13px;
    line-height: 19px;
    font-weight: 470;
  }
  .container-two-right-link img {
    padding: 4px 0 0 5px;
    width: 20px;
  }
  .container-three-left h2 {
    font-size: 28px;
    font-weight: 550;
    line-height: 40px;
    padding-bottom: 5px;
  }
  .container-three-left p {
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
  }
  .container-three-left-list {
    padding-top: 9px;
  }
  .container-three-left-list ul li span {
    font-size: 14px;
    font-weight: 380;
    line-height: 19px;
  }
  .container-three-left-link {
    padding-top: 10px;
  }
  .container-three-left-link a {
    font-size: 14px;
    line-height: 19px;
    font-weight: 380;
  }
  .container-three-left-link img {
    padding: 4px 0 0 5px;
    width: 20px;
  }
  .feature {
    padding-top: 4%;
    padding-bottom: 9%;
  }
  .feature-content h1 {
    font-size: 30px;
    font-weight: 600px;
    line-height: 45px;
    letter-spacing: 0.2px;
    padding-bottom: 8px;
  }
  .feature-content p {
    font-size: 14px;
    font-weight: 380;
    line-height: 25px;
  }
  .feature-point div h4 {
    font-size: 18px;
    font-weight: 650;
    line-height: 30px;
    padding-top: 18px;
  }
  .feature-point div p {
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    padding-top: 8px;
  }
  .feature-point div img {
    width: 40px;
  }
  .footer-left img {
    width: 120px;
  }
  .copyright-content {
    padding: 10px 0;
  }
  .copyright p {
    font-weight: 380;
    line-height: 15px;
  }
  .copyright p b {
    font-weight: 680;
  }
}

@media (max-width: 991px) {
  .navbar {
    padding-top: 10px;
  }
  .left-navbar img {
    width: 100px;
  }
  .center-navbar {
    margin-left: 125px;
  }
  .center-navbar a {
    font-size: 13px;
    margin: 0 12px;
  }
  .right-navbar a {
    border-radius: 4px;
    font-size: 12px;
    padding: 7px 10px;
    margin-bottom: 10px;
  }
  .hero-left h1 {
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
  }
  .hero-left p {
    padding-top: 9px;
    font-size: 12px;
  }
  .hero-left img {
    margin-top: 5px;
  }
  .hero-link {
    padding-top: 5px;
  }
  .left-link a {
    font-size: 13px;
    padding: 10px 15px;
  }
  .right-link {
    padding: 20px;
  }
  .right-link a {
    font-size: 12px;
  }
  .right-link img {
    margin: 2px 0 0 5px;
    width: 14px;
  }
  .container-one img {
    width: 120px;
    padding: 0 23px;
  }
  .container-one {
    padding: 45px 0;
  }
  .container-two {
    padding: 6.7% 0 2.7% 0;
  }
  .container-two-left {
    max-width: 100%;
  }
  .background-img {
    width: 60%;
    top: -20px;
  }
  .foreground-img {
    width: 70%;
    right: 50px;
  }
  .container-two-right {
    padding-top: 10px;
  }
  .container-two-right h2 {
    font-size: 24px;
    font-weight: 550;
    line-height: 27px;
    padding-bottom: 5px;
  }
  .container-two-right p {
    line-height: 18px;
    font-size: 13px;
    font-weight: 370;
    letter-spacing: 0.1;
  }
  .container-two-right-link {
    padding-top: 10px;
  }
  .container-two-right-link a {
    font-size: 12px;
    line-height: 19px;
    font-weight: 470;
  }
  .container-two-right-link img {
    padding: 4px 0 0 5px;
    width: 18px;
  }
  .container-three-left h2 {
    font-size: 24px;
    font-weight: 550;
    line-height: 27px;
    padding-bottom: 20px;
  }
  .container-three-left p {
    line-height: 18px;
    font-size: 13px;
    font-weight: 370;
  }
  .container-three-left-list {
    padding-top: 8px;
  }
  .container-three-left-list ul li span {
    line-height: 18px;
    font-size: 13px;
    font-weight: 370;
  }
  .container-three-left-link {
    padding-top: 20px;
  }
  .container-three-left-link a {
    line-height: 18px;
    font-size: 13px;
    font-weight: 430;
  }
  .container-three-left-link img {
    padding: 4px 0 0 5px;
    width: 18px;
  }
  .container-three-right {
    align-self: center;
  }
  .feature {
    padding-top: 4%;
    padding-bottom: 9%;
  }

  .feature-content h1 {
    font-size: 28px;
    font-weight: 500px;
    line-height: 35px;
    letter-spacing: 0.2px;
    padding-bottom: 8px;
  }
  .feature-content p {
    line-height: 18px;
    font-size: 13px;
    font-weight: 370;
  }
  .feature-point div {
    padding: 25px 7px 18px 15px;
  }
  .feature-point {
    padding-top: 5%;
    gap: 20px;
  }
  .feature-point div h4 {
    font-size: 14px;
    font-weight: 550;
    line-height: 20px;
    padding-top: 15px;
  }
  .feature-point div p {
    font-size: 12px;
    font-weight: 300;
    line-height: 15px;
    padding-top: 8px;
  }
  .feature-point div img {
    width: 35px;
  }
  .footer-left img {
    width: 100px;
  }
  .footer-right a {
    font-size: 12px;
    margin: 0 20px;
  }
  .copyright-content {
    padding: 9px 0;
  }
  .copyright p {
    font-weight: 300;
    line-height: 11px;
  }
  .copyright p b {
    font-weight: 600;
  }
}
@media (max-width: 768px) {
  .navbar {
    padding-top: 5px;
  }
  .left-navbar img {
    width: 80px;
  }
  .center-navbar {
    margin-left: 50px;
  }
  .center-navbar a {
    font-size: 9px;
    margin: 0 9px;
  }
  .right-navbar a {
    border-radius: 4px;
    font-size: 7px;
    padding: 4px 9px;
  }
  .hero-left h1 {
    font-size: 25px;
    font-weight: 300;
    line-height: 30px;
  }
  .hero-left img {
    display: none;
  }
  .hero-left p {
    padding-top: 2px;
    font-size: 9px;
    font-weight: 100;
  }
  .hero-link {
    padding-top: 5px;
  }
  .left-link a {
    font-size: 10px;
    padding: 10px 15px;
  }
  .right-link {
    padding: 30px;
  }
  .right-link a {
    font-size: 10px;
  }
  .right-link img {
    margin: 2px 0 0 5px;
    width: 12px;
  }
  .container-one img {
    width: 100px;
    padding: 0 23px;
  }
  .container-one {
    padding: 45px 0;
  }
  .container-two {
    padding: 4% 0 2% 0;
  }
  .container-two-left {
    max-width: 100%;
  }
  .background-img {
    width: 65%;
    top: -20px;
  }
  .foreground-img {
    width: 75%;
    right: 60px;
    left: 40px;
  }
  .container-two-right {
    padding-top: 10px;
  }
  .container-two-right h2 {
    font-size: 20px;
    font-weight: 550;
    line-height: 20px;
    padding-bottom: 5px;
  }
  .container-two-right p {
    line-height: 15px;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.1;
  }
  .container-two-right-link {
    padding-top: 10px;
  }
  .container-two-right-link a {
    font-size: 12px;
    line-height: 19px;
    font-weight: 400;
  }
  .container-two-right-link img {
    padding: 4px 0 0 5px;
    width: 18px;
  }
  .container-three-left h2 {
    font-size: 20px;
    font-weight: 550;
    line-height: 20px;
    padding-bottom: 10px;
  }
  .container-three-left p {
    line-height: 15px;
    font-size: 12px;
    font-weight: 300;
  }
  .container-three-left-list {
    padding-top: 8px;
  }
  .container-three-left-list ul li span {
    line-height: 15px;
    font-size: 12px;
    font-weight: 300;
  }
  .container-three-left-link {
    padding-top: 5px;
  }
  .container-three-left-link a {
    line-height: 15px;
    font-size: 12px;
    font-weight: 300;
  }
  .container-three-left-link img {
    padding: 4px 0 0 5px;
    width: 18px;
  }
  .container-three-right {
    align-self: center;
  }
  .container-three-right img {
    width: 100%;
  }
  .container-three-left-link img {
    padding: 2px 0 0 5px;
    width: 15px;
  }
  .feature-point div {
    padding: 18px 7px 10px 10px;
  }
  .feature-point {
    padding-top: 5%;
    gap: 15px;
  }
  .feature-point div h4 {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    padding-top: 15px;
  }
  .feature-point div p {
    font-size: 10px;
    font-weight: 300;
    line-height: 12px;
  }
  .feature-point div img {
    width: 30px;
  }
  .footer-left img {
    width: 80px;
  }
  .footer-right a {
    font-size: 12px;
  }
  .copyright-content {
    padding: 8px 0;
  }
  .copyright p {
    font-size: 12px;
    font-weight: 300;
    line-height: 13px;
  }
  .copyright p b {
    font-weight: 600;
  }
}
@media (max-width: 576px) {
  .navbar {
    padding-top: 4px;
  }
  .left-navbar img {
    width: 60px;
  }
  .center-navbar {
    margin-left: 20px;
  }
  .center-navbar a {
    font-size: 9px;
    margin: 0 5px;
  }
  .right-navbar a {
    border-radius: 4px;
    font-size: 8px;
    padding: 3px 8px;
  }
  .right-navbar {
    margin-bottom: 7px;
  }
  .hero-content {
    grid-template-columns: 1fr;
  }
  .hero-left h1 {
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    line-height: 30px;
  }
  .hero-left p {
    text-align: center;
    padding-top: 2px;
    font-size: 10px;
    font-weight: 100;
  }
  .hero-link {
    padding-top: 5px;
    justify-content: center;
  }
  .left-link a {
    font-size: 11px;
    padding: 10px 15px;
  }
  .right-link {
    padding: 30px;
  }
  .right-link a {
    font-size: 11px;
  }
  .right-link img {
    margin: 2px 0 0 5px;
    width: 12px;
  }
  .hero-right {
    align-self: center;
    justify-self: center;
  }
  .container-one img {
    width: 80px;
    padding: 0 15px;
  }
  .container-one {
    padding: 20px 0;
  }
  .container-two {
    display: block;
    padding: 10% 0 5% 0;
  }
  .background-img {
    width: 50%;
    top: -20px;
  }
  .foreground-img {
    width: 65%;
    right: 60px;
    left: 40px;
  }
  .container-two-left {
    padding-top: 10px;
  }
  .container-two-right {
    padding-top: 10px;
  }
  .container-two-right h2 {
    font-size: 20px;
    text-align: center;
    font-weight: 550;
    line-height: 22px;
    padding-bottom: 5px;
  }
  .container-two-right p {
    line-height: 15px;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
  }
  .container-two-right-link {
    padding-top: 10px;
    justify-content: center;
  }
  .container-two-right-link a {
    font-size: 12px;
    line-height: 19px;
    font-weight: 400;
  }
  .container-two-right-link img {
    padding: 4px 0 0 5px;
    width: 18px;
  }
  .container-three {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .container-three-left h2 {
    font-size: 20px;
    font-weight: 550;
    line-height: 22px;
    padding-bottom: 15px;
    text-align: center;
  }
  .container-three-left p {
    line-height: 15px;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
  }
  .container-three-left-list {
    padding-top: 8px;
  }
  .container-three-left-list ul li span {
    line-height: 15px;
    font-size: 12px;
    font-weight: 300;
  }
  .container-three-left-link {
    padding-top: 10px;
    justify-content: center;
  }
  .container-three-left-link a {
    line-height: 15px;
    font-size: 12px;
    font-weight: 300;
  }
  .container-three-left-link img {
    padding: 4px 0 0 5px;
    width: 18px;
  }
  .container-three-right img {
    width: 100%;
    padding: 0 20px;
  }
  .feature {
    padding-top: 4%;
    padding-bottom: 9%;
  }
  .feature-content h1 {
    font-size: 20px;
    font-weight: 550;
    line-height: 22px;
    text-align: center;
  }
  .feature-content p {
    text-align: center;
  }
  .feature-point div h4 {
    font-size: 13px;
    font-weight: 520;
    line-height: 15px;
    padding-top: 5px;
  }
  .feature-point div img {
    width: 30px;
  }
  .feature-point {
    padding-top: 5%;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .footer-left img {
    width: 60px;
  }
  .footer-right a {
    margin: 0 10px;
    font-size: 10px;
  }
  .copyright-content {
    padding: 6px 0;
  }
  .copyright p {
    font-size: 10px;
    font-weight: 300;
    line-height: 13px;
  }
  .copyright p b {
    font-weight: 600;
  }
}
@media (max-width: 425px) {
  .navbar {
    padding-top: 4px;
  }
  .left-navbar img {
    width: 50px;
  }
  .center-navbar {
    margin-left: 20px;
  }
  .center-navbar a {
    font-size: 9px;
    margin: 0 5px;
  }
  .right-navbar {
    display: none;
  }
  .hero-content {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .hero-left h1 {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
  }
  .hero-left img {
    display: none;
  }
  .hero-left p {
    padding-top: 2px;
    font-size: 9px;
    font-weight: 100;
  }
  .hero-link {
    justify-content: center;
    padding-top: 2px;
  }
  .left-link a {
    font-size: 10px;
    padding: 8px 13px;
  }
  .right-link {
    padding: 20px;
  }
  .right-link a {
    font-size: 11px;
  }
  .right-link img {
    margin: 2px 0 0 5px;
    width: 12px;
  }
  .container-one img {
    width: 60px;
    padding: 0 10px;
  }
  .container-one {
    padding: 20px 0 10px 0;
  }
  .container-two {
    padding: 4% 0 5% 0;
  }
  .container-two-right {
    padding-top: 10px;
    flex-basis: 100%;
    text-align: center;
  }
  .container-two-right h2 {
    font-size: 20px;
    font-weight: 550;
    line-height: 22px;
    padding-bottom: 5px;
  }
  .container-two-right p {
    line-height: 14px;
    font-size: 11px;
    font-weight: 300;
  }
  .container-two-right-link {
    padding-top: 10px;
    justify-content: center;
  }
  .container-two-right-link a {
    font-size: 11px;
    line-height: 14px;
    font-weight: 400;
  }
  .container-two-right-link img {
    padding: 2px 0 0 5px;
    width: 18px;
  }
  .container-three {
    grid-template-columns: 1fr;
  }
  .container-two-left {
    margin-top: 30px;
  }
  .container-three-left h2 {
    font-size: 20px;
    font-weight: 550;
    line-height: 22px;
    padding-bottom: 15px;
    text-align: center;
  }
  .container-three-left p {
    line-height: 14px;
    font-size: 11px;
    font-weight: 300;
    text-align: center;
  }
  .container-three-left-list {
    padding-top: 8px;
  }
  .container-three-left-list ul li span {
    line-height: 14px;
    font-size: 11px;
    font-weight: 300;
  }
  .container-three-left-link {
    padding-top: 10px;
    justify-content: center;
  }
  .container-three-left-link a {
    line-height: 13px;
    font-size: 11px;
    font-weight: 300;
  }
  .container-three-left-link img {
    padding: 2px 0 0 5px;
    width: 15px;
  }
  .container-three-right img {
    width: 100%;
    padding: 0 20px;
  }
  .feature {
    padding-top: 4%;
    padding-bottom: 9%;
  }
  .feature-content {
    text-align: center;
  }
  .feature-content h1 {
    font-size: 18px;
    font-weight: 550;
    line-height: 21px;
  }
  .feature-point div h4 {
    font-size: 12px;
    font-weight: 520;
    line-height: 15px;
    padding-top: 5px;
  }
  .feature-point {
    padding-top: 5%;
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-left {
    display: none;
  }
  .container-three-right img {
    padding: 30px 0 25px 20px;
  }
  .footer-right {
    flex-basis: 100%;
  }
  .footer-right a {
    margin: 0 5px;
    font-size: 10px;
    padding: 2px 0;
  }
  .copyright-content {
    padding: 6px 0;
  }
  .copyright p {
    font-size: 9px;
    font-weight: 300;
    line-height: 11px;
  }
  .copyright p b {
    font-weight: 500;
  }
}
