* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.hero {
  background: linear-gradient(216.04deg, #27c0ef 13.84%, #00a8db 83.53%);
  width: 100%;
  position: relative;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  padding: 30px;
}
.left-navbar img {
  width: 153px;
}
.center-navbar {
  margin-left: 270px;
  display: flex;
  padding-right: 10px;
  justify-content: space-between;
}
.center-navbar a {
  color: white;
  margin: 0 30px;
  font-size: 15px;
}
.right-navbar a {
  background: linear-gradient(278.21deg, #005490 1.66%, #328bcb 96.78%);
  border-radius: 4px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  padding: 15px 20px;
  color: white;
  margin-bottom: 10px;
}
.hero-content {
  color: white;
  width: 100%;
  padding: 30px;
}
.hero-left {
  display: block;
  width: 100%;
}
.hero-left h1 {
  font-family: DM Sans;
  font-size: 64px;
  font-weight: 700;
  line-height: 76px;
  text-align: left;
}
.hero-left img {
  width: 160px;
  margin: -20px 0 40px 0;
}
.hero-left p {
  padding-top: 25px;
  font-size: 15px;
}
.hero-link {
  display: flex;
  align-items: center;
  padding: 50px 0 20px 0;
}
.left-link a {
  background: white;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  padding: 15px 30px;
  color: rgba(0, 168, 219, 1);
}
.right-link {
  padding: 60px;
  display: flex;
  align-items: center;
}
.right-link a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
.right-link img {
  margin: 2px 0 0 5px;
  width: 15px;
}
.hero-right {
  width: 100%;
}
.hero-right img {
  width: 60%;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media screen and (min-width: 1440px) {
  .navbar .hero-content {
    max-width: 1440px;
    margin: 0 auto;
  }
}
